.debits {
    color: rebeccapurple;
    margin: 5px;
}
.descriptions {
    margin: 0;
}

#column-for-debit {
    display: flex;
}

#debit-list-column {
    margin-right: 200px ;
}

.credits {
    color: rebeccapurple;
    margin: 5px;
}

#column-for-credit {
    display: flex;
}

#credit-list-column {
    margin-right: 200px ;
}